<!-- The code snippet is creating a footer section for a webpage using HTML and CSS. The `<footer>`
element is used to define the footer section. Inside the footer, there are various elements such as
`<a>` (anchor tags) and `<img>` (image tags) that are used to create links and display images. -->
<!-- The `<footer>` element is used to define a footer for a document or a section. In this specific code
snippet, the `<footer>` element is used to create a footer section for a webpage. -->
<footer class="text-gray-600 body-font bg-gray-50">
  <div class="bg-gray-100">
    <div
      class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col"
    >
      <a
        class="title-font font-medium items-center md:justify-start justify-center text-gray-900 hidden md:block"
      >
        <span class="ml-3 text-xl font-sans font-bold">DEVELOPER</span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">
        <a
          href="."
          rel="noopener noreferrer"
          class="text-gray-600 ml-1"
          target="_blank"
          >@2023-divyanshuSharma</a
        >
      </p>
      <span
        class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
      >
        <a href="https://auth.geeksforgeeks.org/user/skprogrammer1007">
          <img src="../../../assets/gfg.png" alt="" class="w-8 mr-2 " />
        </a>
        <a href="https://github.com/skprogrammer1007">
          <img src="../../../assets/github.svg" alt="" class="w-8 mr-2 " />
        </a>
        <a href="https://www.linkedin.com/in/divyanshu-sharma-b75a73221/">
          <img src="../../../assets/linkedin-2.svg" alt="" class="w-8 mr-2 " />
        </a>
        <a href=".">
          <img src="../../../assets/globe-1.svg" alt="." class="w-8 mr-2 " />
        </a>
        <a href="https://www.hackerrank.com/profile/skprogrammer1007">
          <img src="../../../assets/hackerRank.png" alt="" class="w-8 mr-2 " />
        </a>
      </span>
    </div>
  </div>
</footer>
