<!-- The code you provided is an HTML section that displays a list of certificates. -->
<section id="certificate" class="text-gray-600 body-font bg-gray-50 py-20">
    <app-heading heading="Certificates"></app-heading>
    <div class="flex justify-evenly mt-8 sm:mt-24 flex-wrap items-center px-5">
        <a href="https://www.hackerrank.com/certificates/4fa3856da304">
            <img src="../../../assets/javascript_basic certificate.png" width="500" class="shadow-lg rounded-sm mt-6 shadow-gray-500">
        </a>
        <a href="https://www.hackerrank.com/certificates/0c4f08a3ae5f">
            <img src="../../../assets/javascript_intermediate certificate.png" width="500" class="shadow-lg rounded-sm mt-6 shadow-gray-500">
        </a>
        <a href="https://www.hackerrank.com/certificates/29eb5d197bb4">
            <img src="../../../assets/python_certificate.png" width="500" class="shadow-lg rounded-sm mt-6 shadow-gray-500">
        </a>
        <a href="https://learn.ineuron.ai/certificate/ff9a3c2d-74c7-4837-b21b-914a63d52683">
            <img src="../../../assets/blockchain.png" width="500" class="shadow-lg rounded-sm shadow-gray-500 mt-6">
        </a>
        <a href="../../../assets/leeladhar.jpg">
            <img src="../../../assets/leeladhar.jpg" width="500" class="shadow-lg rounded-sm shadow-gray-500 mt-6">
        </a>
        <a href="../../../assets/oasis.jpg">
            <img src="../../../assets/oasis.jpg" width="500" class="shadow-lg rounded-sm shadow-gray-500 mt-6">
        </a>
    </div>
</section>
