<!-- The given code is creating a section with a class of "text-gray-600 body-font bg-gray-50" and an id
of "writer". Inside this section, there is a heading component with the text "Writer". -->
<section class="text-gray-600 body-font bg-gray-50" id="writer">
  <app-heading heading="Writer"></app-heading>
  <div
    class="container mx-auto flex px-5 pt-16 md:pt-24 md:flex-row flex-col-reverse items-center"
  >
    <div
      class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
    >
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 mt-5"
      >
        Leeladhar:
        <br class="hidden lg:inline-block" />
        An Anthology of Lord Krishna Poems
      </h1>
      <p class="mb-3 leading-relaxed">
        Compiled by
        <strong> Himanshu Gautam </strong>
        and
        <strong> Himani Joshi </strong>
        , Published by
        <strong> Deep Misit Publication House </strong>
      </p>
      <p class="mb-8 leading-relaxed">
        Contribution by
        <span class="font-bold"> Divyanshu Sharma + 34 writers </span>
      </p>
      <div class="flex justify-center">
        <a href="https://amzn.eu/d/7ajMeGv">
          <button
          class="inline-flex text-white bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-600 rounded text-lg"
          >
          check-out
        </button>
      </a>
        
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 flex justify-center">
      <img
        class="object-cover object-center rounded"
        alt="hero"
        width="350px"
        src="../../../assets/leeladhar_cover.jpg"
        class="shadow-lg shadow-black"
      />
    </div>
  </div>
</section>
