<!-- The code is creating a section element with a class of "pt-10". Inside the section, there is an h1
element with classes for text alignment, font size, font weight, and text color. The content of the
h1 element is a placeholder variable called "heading". Below the h1 element, there is a div element
with classes for flexbox alignment and a border. Inside the div, there is another div element with
classes for width, margin, and border color. -->
<section class="pt-10">
  <h1 class="text-center  text-3xl font-bold font-sans text-gray-800">
    {{ heading }}
  </h1>
  <div class="flex justify-center">
    <div class="w-20 border mt-2 border-rose-500"></div>
  </div>
</section>
