<!-- The code you provided is an HTML section that represents a section of a webpage. It contains two
main div elements that are flex containers. -->
<section class="text-gray-600 body-font flex justify-center items-center">
  <div class="container flex sm:px-5 md:flex-row flex-col items-center justify-evenly">
    <div
      class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col px-8 md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
    >
      <h2 class="text-4xl text-black mb-5 font-bold">Divyanshu Sharma !</h2>
      <p class="mb-8 leading-relaxed justify-start">
        Results-driven and highly motivated software developer with a strong
        foundation in the MERN (MongoDB, Express.js, React, Node.js) stack and
        proficiency in Python programming. Seeking a challenging position in a
        dynamic organization where I can leverage my technical skills,
        innovative mindset, and collaborative approach to contribute to the
        development of cutting-edge software solutions.
      </p>
      <div class="flex justify-center">
        <button
          class="inline-flex text-white bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-600 rounded text-lg"
        >
          <a
            href="
        https://drive.google.com/file/d/1oGkGrwg69MLp0eSbdQyKT_iEJTVXLKur/view?usp=sharing
        "
          >
            Download CV
          </a>
        </button>
      </div>
    </div>
    <div
      class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 bg-[radial-gradient(black,#b7b7b7)]"
    >
      <img
        class="object-cover object-center rounded md:h-[600px] h-[400px] drop-shadow-2xl md:mx-10"
        alt="Divyanshu sharma"
        src="../../../assets/divyanshu.png"
      />
    </div>
  </div>
</section>
